@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	color: #222;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.wrapper {
	width: 85%;
	margin: 50px auto;
}

header {
	position: relative;
}

header .logo {
	font-weight: 600;
	font-size: 20px;
}

header ul.nav {
	float: right;
	list-style: none;
}

header ul.nav li {
	display: inline;
	margin-left: 25px;
	cursor: pointer;
	transition: opacity 500ms ease;
}

header ul.nav li:hover {
	opacity: 0.5;
}

header .shop-cart-button {
	float: right;
	cursor: pointer;
	transition: all 250ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
	color: #dc3d3d;
	transform: scale(1.25);
}

header .shop-cart {
	position: absolute;
	top: 30px;
	right: 0;
	width: 250px;
	background-color: #fafafa;
	-webkit-box-shadow: 4px 5px 15px -7px #606060;
	box-shadow: 4px 5px 15px -7px #606060;
	z-index: 1000;
	padding: 20px 20px 0 20px;
}

header .shop-cart .empty h2 {
	font-size: 20px;
	margin-bottom: 20px;
}

header .shop-cart .item {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

header .shop-cart .item .delete-icon {
	color: #ca5252;
	float: right;
	position: relative;
	top: -35px;
	cursor: pointer;
	transition: all 250ms ease;
}

header .shop-cart .item .delete-icon:hover {
	color: #d83030;
	transform: scale(1.25);
}

header .shop-cart .summa {
	float: left;
	width: 100%;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

header .shop-cart .item img {
	width: 70px;
	float: left;
	margin-right: 20px;
}

header .shop-cart .item h2 {
	font-size: 20px;
	margin-bottom: 10px;
}

header .shop-cart .item p {
	color: #797979;
	font-weight: 600;
}

header .presentation {
	margin: 50px 0;
	background: url('./img/bg.webp') no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 50vh;
	background-blend-mode: multiply;
	background-color: #a0a0a0;
	position: relative;
}

header .presentation::after {
	content: "Best Staff For Your House";
	position: absolute;
	top: 15%;
	left: 7%;
	width: 382px;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}

header .presentation::before {
	content: "Free For Students!";
	position: absolute;
	top: 44%;
	left: 8%;
	width: 190px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.categories div {
	display: inline-block;
	background-color: #f2f2f2;
	border-radius: 50px;
	padding: 10px 20px;
	margin-bottom: 25px;
	margin-right: 15px;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 250ms ease;
	
}

.categories div:hover {
	border-color: silver;
	transform: scale(1.05);
}

.full-item {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0, 0, 0, 0.8);
	z-index: 9999;
	overflow: auto;
}

.full-item > div {
	width: 350px;
	position: relative;
	margin: 10% auto;
	padding: 40px 30px;
	background-color: #fff;
	border-radius: 9px;
}

main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

main .item {
	width: 30%;
	margin-bottom: 50px;
	background: #f5f5f5;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
	position: relative;
	padding-bottom: 20px;
}

main .item img, .full-item img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	transition: transform 100ms ease;
	cursor: pointer;
}

main .item img:hover, .full-item img:hover {
	transform: scale(1.05);
}

main h2, main p, main b,
.full-item h2, .full-item p, .full-item b {
	margin: 10px 20px;
	color: #333;
}

main b, .full-item b {
	color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: #ca5252;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 600;
	transition: all 250ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
	transform: scale(1.05);
	background: #f5f5f5;
	color: #ca5252;
	border: 1px solid #ca5252;
}

footer {
	text-align: center;
	margin-top: 100px;
}